.menu_botones {
    background-color: rgba(255, 0, 0, 0.59);
    list-style-type: none;
    margin-bottom: 0;
    border-radius: 10px;
    height: 100%;
}
.contenido {
    background-color: rgba(171, 171, 255, 0.59);
    padding-left: 0;
    border-radius: 10px;
    height: 100%;
    padding-right: 0;
}
.cont_central {
    height: 90%;
}
.btn_menu {
    border: solid;
    border-width: 1px;
    border-color: #292929;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: large;
    border-radius: 10px;
}
.btn_menu:hover {
    background-color: rgb(253, 80, 80);
    color: white;
    text-decoration: none;
    border-width: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    animation-name: resaltar;
    animation-duration: 2s;
    font-weight: 700;
}

.contenedorGeneral {
    height: 100vh;
}
.App {
    height: 5%;
    margin: 0;
    padding-left: 30px;
    padding-top: 5px;
}
.estructuraContenido {
    height: 95%;
}
.pieweb {
    height: 10%;
    background-color: rgba(255, 255, 255, 0.398);
    box-shadow: 0px -1px 2px rgb(0, 0, 0);
    font-size: large;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}

body {
    background-image: url(./imagenPrueba.jpg);
}
.interiorContenido {
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #2929298a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}

.iconopie {
    width: 20px;
    /* font-size: 50px; */
    color: black;
}
.iconopie:hover {
    color: #292929;
}

.dropbtn {
    border-radius: 20px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.59);
    color: white;
    display: none;
}
.dropbtn:visited {
    background-color: rgba(255, 0, 0, 0.59);
    color: white;
}
.iconoDropdown {
    font-size: larger;
}

@media (max-width: 767px) {
    .dropbtn {
        display: block;
        position: relative;
        left: 90%;
        bottom: 45px;
        margin-top: 5px;
    }
    .desaparecer {
        display: none;
    }
    .pieweb {
        font-size: 40px;
        padding-top: 0px;
        padding-left: 0;
    }
    .cont_central {
        padding: 10px;
    }
    .mail,
    .telefono,
    .linkedin,
    .twitter {
        padding-left: 10%;
    }
    .menu_botones {
        height: 230px;
        margin-top: 0;
        position: absolute;
        width: 97%;

        z-index: 1;
        background-color: rgba(255, 0, 0, 0.878);
    }
    .contenido {
        height: 100%;
        bottom: 40px;
    }
    .App {
        padding-left: 10px;
        font-size: 25px;
        display: inline-block;
    }
    .iconopie {
        width: 24px;
    }
}
